
:host{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;


}

.container_father{

    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display{
    display: flex;
    position: relative;
    width: 20rem;
    height: 9.375rem;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

    border: 0.1875rem solid rgb(34, 150, 243);
    border-radius: 0.625rem;
    box-shadow: inset 0 0 0.9375rem black 0 1.25rem 1.25rem rgba(0,0,0,.4);
    margin-bottom: 0.625rem;
    background-color: #000000;
    
    color:rgb(34, 150, 243);
    font-size: 4.0625rem;
    text-transform: uppercase;
    font-weight: 520;
    font-family: 'Times New Roman', Times, serif;

}

.fullTime{
    display: flex;

    
}


.fullDate{

 font-size: 1.375rem;
 font-family: 'Times New Roman', Times, serif;
}





@media screen and (max-width: 147px) and (min-width: 0px) {
    .display{
  display: none;
    }
    .fullDate{
        display: none;
    }
}
@media screen and (max-width: 359px) and (min-width: 148px) {
    .display{
        width: 8.5rem;
        height: 3.75rem;
        font-size: 1.6875rem;
    }
    .fullDate{
        font-size: 0.625rem;
    }
}

@media screen and (max-width: 575px) and (min-width: 360px) {
    .display{
        width: 11.5rem;
        height: 5rem;
        font-size: 2.25rem;
    }
    .fullDate{
        font-size: 0.8125rem;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
    .display{
        width: 14rem;
        height: 6.25rem;
        font-size: 2.8125rem;
    }
    .fullDate{
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .display{
        width: 17rem;
        height: 7.8125rem;
        font-size: 3.4375rem;
    }
    .fullDate{
        font-size: 1.1875rem;
    }
}

